@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --header-color: #FAFAFA;
    --header-orange-color: #FFA039;
    --qr-color: #D7D7D7;
    --features-color: #FFB769AB;
    --types-color: #E5E5E5;
    --pricing-color: #D7D7D74D;
    --black-color: #000000;
    --header-font-color:#2D2D2D;
    --font-color: #666666;
    --title-color: #FF7800;
    --z-index: -1;
}

[data-theme="dark"] {
    --header-color: #2D2D2D;
    --header-orange-color: #FFA039;
    --qr-color: #383838;
    --features-color: #423b33;
    --types-color: #2D2D2D;
    --pricing-color: #646464;
    --black-color: #FAFAFA;
    --header-font-color:#FAFAFA;
    --font-color: #FAFAFA;
    --title-color: #FF7800;
    --footer-top: #666666;
    --footer-bottom: #D7D7D7;
    --dark-theme-img: invert(100%) sepia(100%) saturate(0%) hue-rotate(208deg) brightness(103%) contrast(101%);
    --z-index: 0;
}

body {
    color: var(--font-color);
}


body h1, body h2, body h3, body h4 {
    color: var(--header-font-color);
}

body h5 {
    color:var(--title-color);
}

p {
    color: var(--font-color);
}

button {
    color: var(--black-color);
}



*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

h3 { 
    font-size: 2rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

a {
    color: var(--font-color);
}

.btn {
    width: 13rem;
    border-radius: 15px;
    padding: 1rem;
    border: 0;
}

header {
    background-color: var(--header-color);
}

nav {
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0px 2px 10px 0px #2D2D2D1A;
}

.logo {
    padding: 3vh 3vw;
    text-align: left;
    filter: var(--dark-theme-img)
}


.nav-links {
    width: 80vw;
    display: flex;
    padding: 0 .7vw;
    justify-content: end;
    align-items: center;
    list-style: none;
}

.nav-links li a {
    margin: 1rem;
    text-decoration: none;
}

#login {
    color: var(--header-orange-color);
    text-decoration: underline;
}

.signup-btn {
    border: 2px solid #FF7800;
    border-radius: 15px;
    padding: 1rem;
}

.signup-btn_nav {
    border: 2px solid #FF7800;
    border-radius: 15px;
    padding: 1rem;
}

.hamburger {
    display: none;
    filter: var(--dark-theme-img);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.call_to_action {
    display: flex;
    flex-direction: column;
    width: 30%;
}


.png {
    filter: var(--dark-theme-img);
}

.call_to_action h1 {
    color: var(--header-orange-color);
}

.black {
    color: var(--black-color);
}

.call_to_action p, .call_to_action button {
    margin-top: 1rem;
}

.btns {
    display: flex;
}

.generate-btn {
    background: var(--header-orange-color);
    box-shadow: -2px -2px 10px 0px #FF7800 inset;
}

.signup-btn {
    background-color: var(--header-color);
    border: 2px solid #FFA039;
    margin-left: 1.25rem;
}

.qr_code_generator {
    display: flex;
    flex-direction: column;
    background: var(--qr-color);
    justify-content: space-evenly;
}

.qr_code_title h2 {
    padding-bottom: 1rem;
}

.qr_code_top, .qr_code_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qr_top_left, .qr_bottom_right {
    width: 40%;

}

.qr_top_right, .qr_bottom_left {
    width: 40%;
}

.qr_title {
    display: flex;
    padding-block: 1rem;
}

.qr_top_right p, .qr_bottom_left p {
    padding-bottom: 1rem;
}

.qr_title img {
    width: 28px;
    padding: 0 .75rem;
}

 iframe{
    width: 100%;
    margin-block: 3rem;
}

.static_list {
    margin-block: .5rem;
}

.validation_icon {
    width: 1.25rem;
    padding: 0 .25rem 1rem 0;
}

.static_list{
    display: flex;
}

.features {
    background: var(--features-color);
    line-height: 2rem;
}

.features_cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.features_card {
    position: relative;
    width: 30%;
    padding: 1.25rem;
}

#features_icon {
    position: absolute;
    left: .25rem;
    top: .25rem;
}

.qr_code_types {
    background-color: var(--header-color);
}

.types_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-block: 2rem;
    column-gap: 4rem;
}

.types_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10rem;
    padding: 2rem 2rem;
    -webkit-box-shadow: 0px 15px 20px -10px rgba(145,60,0,.45);
    -moz-box-shadow: 0px 15px 20px -10px rgba(145,60,0,.45);
    box-shadow: 0px 15px 20px -10px rgba(145,60,0,.45);
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #FFFFFF;
}

.types_card_title {
    display: flex;
    padding: 1.5rem 0;
    font-size: 1.5rem;

}

.types_card p {
    color: #666666;
}

.title_card_img{
    width: 20px;
    margin-right: 0.5rem;
}



.pricing {
    background: var(--pricing-color);
}

.pricing_title {
    width: 40%;
}

.pricing_title p {
    padding-bottom: 1rem;
}

.price_plan {
    display: flex;
    justify-content: end;
    padding-bottom: 4rem;
}

#monthly-btn {
    background-color: #FFA039;
    color: #FFFFFF;
}

.price_plan button {
    margin: .75rem;
    border: 1px solid #FF7800;
    color: var(--black-color);
    background-color: var(--pricing-color);
}

.pricing_cards {
    display: flex;
    gap: 3rem;
    padding-bottom: 4rem;
}

.price_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: linear-gradient(167.91deg, #FFD6C4 -1.62%, #FFFFFF 104.93%);
    padding: 2rem;
    line-height: 2rem;
    border-radius: 15px;
}

.price_card p {
    color: #666666;
}

.price_card:nth-of-type(3) {
    background: linear-gradient(180deg, #FFB769 17.19%, #FFFFFF 100%);
    position: relative;
}

.most_popular {
    position: relative;
    text-align: center;
    background: linear-gradient(180deg, #FFB769 0%, #FFFFFF 100%);
    width: 110%;
    border-radius: 15px;
    padding: .5rem 0;
    z-index: var(--z-index);
    top: -4.5rem;
    left: -.75rem;
}

.price_card:first-of-type > p:not(:nth-last-of-type(n+12)) {
    text-decoration: line-through;
}


.price_card button {
    width: 200px;
    background: rgba(255, 160, 57, 1);
    padding-block: .75rem;
    margin-top: 1rem;
    border-radius: 15px;
    box-shadow: inset -2px -2px 6px #FF7800;
    border: none;
}

footer {
    display: flex;
    position: relative;
}

.footer_logo{
    margin-bottom: 1rem;
}

.footer_left_side {
    width: 80%;
    display: flex;
    margin-left: 1rem;
    align-items: center;
    font-size: 1rem;
    background-color: var(--header-color);
}

.footer_right_side {
    width: 40%;
    background: var(--qr-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.footer_right_side div {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 1rem 0;
}

.footer_right_side div img {
    margin: 1rem;
    background: rgba(250, 250, 250, 1);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    padding: 1rem;
}

.left_side_footer {
    margin-bottom: 2rem;
}

.right_side_footer {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    margin-bottom: 2rem;
}

.right_side_footer h4 {
    color: rgba(45, 45, 45, 1);
    margin-bottom: 1rem;
}

.right_side_footer a {
    color: rgba(102, 102, 102, 1);
}

.copyright, .right_side_bottom {
    position: absolute;
    bottom: 1rem;
}

.copyright {
    font-size: .75rem;
    color: rgba(102, 102, 102, 1);
}

.right_side_bottom a {
    color: rgba(255, 160, 57, 1);
}

section {
    padding: 1.5rem 2rem;
}


/* LOGIN */

.login {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFCF9B1A;
    
}

.login_left_side h1 {
    color: #FF7800;
    margin-bottom: 1rem;
}

.login_left_side a:nth-of-type(2) {
    margin-left: 1.5rem;
}

.login_left_side a {
    color: #FFA039;
}

.dont_have_acc {
    margin-top: 2rem;
}

.login_left_side p, #remember_me {
    color: #666666;
}

#remember_me {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    border-radius: 15px;
    padding: .75rem;
    margin-block: 1rem;
    border: 1px solid #999898;
}

form button {
    width: 200px;
    border-radius: 15px;
    padding: .75rem;
    margin-bottom: 2rem;
    background-color: #FFA039;
    border: 0;
    box-shadow: 2px 2px 10px #913C00;
    color: #FAFAFA;
}

@media only screen and (max-width: 1023px) {
    .login_right_side {
        display: none;
    }
}

/* SIGN UP */

.signup {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFCF9B1A;
    
}

.signup_left_side h1 {
    color: #FF7800;
    margin-bottom: 1rem;
}

.signup_left_side a:nth-of-type(2) {
    margin-left: 1.5rem;
}

.signup_left_side a {
    color: #FFA039;
}

@media only screen and (max-width: 1023px) {
    .signup_right_side {
        display: none;
    }
}


/* RESPONSIVNES */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    h1 {
        font-size: 2rem;
    }

    nav {
        height: 3rem;
    }

    .nav-links li a {
        font-size: .75rem;
    }

    .signup {
        padding: .75rem;
    }

    .call_to_action h1 {
        font-size: 3rem;
    }

    .generate-btn, .cta {
        padding: .75rem;
        width: 10rem;
    }

    .call_to_action {
        margin-bottom: 6rem;
    }

    .call_to_action_img img {
        width: 300px;
        margin-block: 5rem;
    }

    .qr_code_generator {
        padding-inline: 1.25rem;
    }

    .qr_top_left, .qr_bottom_right {
        width: 50%;
    
    }
    
    .qr_top_right, .qr_bottom_left {
        width: 45%;
    }

    .qr_top_right p, .qr_bottom_left p {
        padding-bottom: .25rem;
    }

    .features_grid {
        width: 25%;
    }

    .types_bottom {
        margin: 0;
    }

    .types_card {
        width: 15%;
        margin-left: 1.5rem;
    }

    .title_pricing {
        width: 50%;
    }

    .pricing {
        padding: .75rem;
    }

    .price_card {
        margin: .75rem .75rem 4rem 0rem;
        padding: 1rem;
    }

    .price_card h5, .price_card p {
        font-size: 1rem;
    }
    
    .price_card h1 {
        font-size: 2rem;
        margin: .75rem 0;
    }

    .price_card button {
        width: 180px;
    }

    .price_plan button {
        width: 180px;
    }
} 

@media only screen and (max-width: 1023px) {

    h1 {
        font-size: 3.25rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 { 
        font-size: 1.5rem;
    }

    nav {
        height: 2rem;
        margin-bottom: 2rem;
    }

    .nav-links {
        display: none;
        width: 100vw;
        height: 100vh;
        position: absolute;
        flex-direction: column;
        justify-content: start;
        left: 0;
        top: 4rem;
        background-color: #666666;
    }

    .nav-links li a {
        color: white;
        line-height: 4rem;
    }

    .signup-btn_cta {
        background-color: #666666;
        display: block;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 1.5rem;
    }

    .theme-icon {
        position: absolute;
        right: 4.5rem;
    }

    .header {
        flex-direction: column;
    }

    .call_to_action {
        width: 90%;
    }

    .btns {
        flex-direction: column;
    }

    .signup-btn {
        margin: 0;
    }

    .call_to_action_img {
        display: flex;
        justify-content: end;
    }
  
    .call_to_action_img img{
        width: 80%;
    }

    .qr_code_generator {
        padding: 1rem;
    }

    .qr_code_top {
        flex-direction: column-reverse;
    }

    .qr_code_bottom {
        flex-direction: column;
    }

    .qr_top_left, .qr_bottom_right {
        width: 100%;
    
    }
    
    .qr_top_right, .qr_bottom_left {
        width: 100%;
    }

    iframe{
        width: 100%;
        height: 80%;
    }

    .features_cards{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .features_card {
        width: 80%;
    }

    .types_wrapper{
        grid-template-columns: 1fr;
    }

    .types_card {
        width: 70%;
        margin: 1rem auto;
    }

    .pricing {
        padding: .5rem;
    }

    .pricing_title {
        width: 100%;
    }

    .pricing_title p {
        margin-top: 1rem;
    }

    .pricing_title h2 {
        width: 60%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer_left_side {
        flex-direction: column;
        align-items: center;
    }

    .footer_right_side {
        width: 100%;
        padding-bottom: 2rem;
    }

    .copyright {
        font-size: .5rem;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        }

    .right_side_bottom {
        position: static;
        display: flex;
        flex-direction: column;
    }

    .right_side_bottom a {
        padding-block: .5rem;
    }

    .right_side_footer {
        margin-left: 0;
        text-align: center;
    }

    .right_side_footer a {
        padding-block: .5rem;
    }

    .left_side_footer {
        margin-top: 2rem;
        text-align: center;
    }

    section {
        padding: 2rem .5rem;
    }
}